<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{.Title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="main">
              {{embed}}
        </div>
    </body>
</html>
