<form method="post">
    username: <input type="text" name="username"><br/>
    <input type="hidden" name="statusC-1" value=""><input type="checkbox" onchange="this.previousSibling.value=this.checked ? 1 : 0;this.form.submit()" id="c-1" name="c-1" value="c1"/><label for="c-1">Checkbox 1</label><br/>
    <input type="hidden" name="statusC-2" value=""><input type="checkbox" onchange="this.previousSibling.value=this.checked ? 1 : 0;this.form.submit()" id="c-2" name="c-2" value="c2"/><label for="c-2">Checkbox 2</label><br/>
    <input type="hidden" name="statusC-3" value=""><input type="checkbox" onchange="this.previousSibling.value=this.checked ? 1 : 0;this.form.submit()" id="c-3" name="c-3" value="c3"/><label for="c-3">Checkbox 3</label><br/>
    <input type="hidden" name="statusC-4" value=""><input type="checkbox" onchange="this.previousSibling.value=this.checked ? 1 : 0;this.form.submit()" id="c-4" name="c-4" value="c4"/><label for="c-4">Checkbox 4</label><br/>
    <input type="hidden" name="statusC-5" value=""><input type="checkbox" onchange="this.previousSibling.value=this.checked ? 1 : 0;this.form.submit()" id="c-5" name="c-5" value="c5"/><label for="c-5">Checkbox 5</label><br/>
    <input type="hidden" name="submitName" value="Submit"/>
</form>
